{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">奖品</div>
    <div class="right">
      <a href="/shanyi/add_prize" class="link">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
</div>
  <!-- <div class="right"></div> -->
{% endblock %}
{% block content %}
{% for i in prizes %}
<div class="card">
  <div class="card-header">{{i.title}}</div>
  <div class="card-content">
    <div class="card-content-inner">
      <p>
      {{i.content}}
      </p>
      {% if i.image %}
      <img class="pzimg"src="{{i.cover}}">
      {% endif %}
    </div>
  </div>
  <div class="card-footer">
    <a onclick="all_delete({{i.pzid}},'prize')">删除</a>
    {{i.datetime}}
  </div>
</div>
{% endfor %}
{% endblock %}
