{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <!-- Now, Left and Center parts reflect page title and page links, let's slide them -->
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">发送系统消息</div>
  </div>
</div>
{% endblock %}
{% block content %}
<style media="screen">
  img{
    width: 50px;
    height: 50px;
  }
</style>
<div class="content-block-title">Just inputs</div>
<form class=" list-block store-data"  method="post" enctype="multipart/form-data" action="/shanyi/systemmessage" id="message_form">
  <ul>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <select name="type" id="type">
              <option value="0">通知</option>
              <option value="1">警告</option>
            </select>
          </div>
        </div>
      </div>
    </li>
    <li><a href="#" class="item-link smart-select" data-back-text="返回">
      <select name="uid">
        {% for i in users %}
        <option value="{{i.uid}}" selected data-option-image="http://139.196.187.155/images/users/{{i.avatar}}.png">{{i.username}}</option>
        {% endfor %}
      </select>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">选择用户</div>
        </div>
      </div>
    </a>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <textarea name="content" rows="20" cols="40" placeholder="内容" id="content" required=""></textarea>
          </div>
        </div>
      </div>
    </li>
  </ul>
<input type="submit" name="Submit" value="添加" class="button button-big button-fill"/>
</form>
{% endblock %}
