{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">日常任务</div>
    <div class="right">
      <a href="/shanyi/managetask" class="link">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
</div>
  <!-- <div class="right"></div> -->
{% endblock %}
{% block content %}
{% for i in daily_task%}
<div class="card">
  <div class="card-header">{{i.title}}</div>
  <div class="card-content">
    <div class="card-content-inner">
      <p>
      {{i.desc}}
      </p>
      {% if i.image %}
      <img class="tkimg"src="{{i.image}}">
      {% endif %}
    </div>
  </div>
  <div class="card-footer">
    <a href="/shanyi/task/{{i.dtid}}">更多</a>
    {{i.date}}
  </div>
</div>
{% endfor %}
{% endblock %}
