{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <!-- Now, Left and Center parts reflect page title and page links, let's slide them -->
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="icon icon-back"></i>
        <span>返回</span>
      </a>
    </div>
    <div class="center sliding">用户奖品列表</div>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="content-block-title">Facebook Cards</div>
{% for i in userp %}
<div class="card facebook-card">
  <div class="card-header no-border">
    <div class="facebook-avatar"><img src="http://139.196.187.155/images/users/{{i.user.avatar}}.png" width="34" height="34"></div>
    <div class="facebook-name">{{i.user.username}}</div>
    <div class="facebook-date">{{i.datetime}}</div>
  </div>
  <div class="card-content">
    <div class="card-content-inner">
      真实姓名:{{i.real_name}}<br/>
      奖品:{{i.prize.title}}<br/>
      地址:{{i.address}}<br/>
      手机:{{i.cellphone}}
    </div>
  </div>
  <!-- <div class="card-footer no-border">
    <a href="#" class="link">Like</a>
    <a href="#" class="link">Comment</a>
    <a href="#" class="link">Share</a>
  </div> -->
</div>
{% endfor %}



{% endblock %}
