{% extends "base.html" %}
{% block nav%}
<div class="navbar">
  <div class="navbar-inner">
    <div class="center sliding">管理中心</div>
  </div>
</div>
  <!-- <div class="right"></div> -->
{% endblock %}
{% block content %}
<div class="content-block-title">综合发布</div>
<div class="list-block block-media">
<ul>
  <li>
    <a href="/shanyi/news" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="item-inner">发布新闻</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/managetask" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="item-inner">发布日常任务</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/prize" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-heart-o"></i>
        </div>
        <div class="item-inner">发布奖品</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/splash" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-picture-o"></i>
        </div>
        <div class="item-inner">启动页图片</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/systemmessage" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-commenting-o"></i>
        </div>
        <div class="item-inner">发送系统消息</div>
      </div>
    </a>
  </li>
</ul>
</div>

<div class="content-block-title">查看信息</div>
<div class="list-block block-media">
<ul>
  <li>
    <a href="/shanyi/reports" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-warning"></i>
        </div>
        <div class="item-inner">举报列表</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/userprize" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-gift"></i>
        </div>
        <div class="item-inner">用户奖品列表</div>
      </div>
    </a>
  </li>

</ul>
</div>
{% endblock %}
