{% extends "base.html" %}
{% block content %}
<div class="content-block-title">综合发布</div>
<div class="list-block block-media">
<ul>
  <li>
    <a href="/shanyi/news" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="item-inner">发布新闻</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/managetask" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="item-inner">发布日常任务</div>
      </div>
    </a>
  </li>
  <li>
    <a href="/shanyi/prize" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-heart-o"></i>
        </div>
        <div class="item-inner">发布奖品</div>
      </div>
    </a>
  </li>
</ul>
</div>

<!-- <div class="content-block-title">综合发布</div>
<div class="list-block block-media">
<ul>
  <li>
    <a href="#" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="item-inner">发布新闻</div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="item-inner">发布日常任务</div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="item-link">
      <div class="item-content">
        <div class="item-media">
          <i class="fa fa-heart-o"></i>
        </div>
        <div class="item-inner">发布心语</div>
      </div>
    </a>
  </li>
</ul>
</div> -->
{% endblock %}
