{% extends "base.html" %}
{% block nav%}

<div class="navbar-inner">
  <div class="left">
    <a onclick="news_back()" style="padding-left:5px;">返回</a>
  </div>
  <div class="center" style="left: 0px;">{{title}}</div>
  <!-- <div class="right"></div> -->
</div>
{% endblock %}
{% block content %}
<div class="content-block-title">Just inputs</div>
<form class="list-block">
  <ul>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" placeholder="标题" name="title" id="title" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" placeholder="副标题" name="subtitle" id="subtitle" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" name="image" placeholder="图片链接" id="image" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" name="source" placeholder="新闻来源" id="source" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <textarea name="content" rows="20" cols="40" placeholder="内容" id="content" ></textarea>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <p class="login">
    <div class="button button-big button-fill" onclick="news1()" >发布</div>
  </p>
</form>
{% endblock %}
