{% extends "base.html" %}
{% block nav%}

<div class="navbar-inner">
  <div class="left">
    <a onclick="news_back()" style="padding-left:5px;">返回</a>
  </div>
  <div class="center" style="left: 0px;">{{title}}</div>
  <!-- <div class="right"></div> -->
</div>
{% endblock %}
{% block content %}
<div class="content-block-title">Just inputs</div>
<form class="list-block" >
  <ul>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" placeholder="奖品标题" name="title" id="title" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" placeholder="提供者" name="provider" id="provider" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="url" name="image" placeholder="大图" id="image" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" name="cover" placeholder="封面图" id="cover" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" name="round_img" placeholder="圆形图" id="round_img" >
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <input type="text" name="cost" placeholder="所需积分(必须为数字)" id="cost"  />
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <textarea name="content" rows="20" cols="40" placeholder="奖品详情" id="content" ></textarea>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <p class="login">
    <div class="button button-big button-fill" onclick="prize2()" >发布</div>
  </p>
</form>
{% endblock %}
